extends admin_layout
block content



    - var isNew = data.isNew;
    if(!isNew)
        - var parts = data.parts.data;
        - var event = data.actions.data[0];
        - var rewards = data.rewards.data[0];
        - var sParts = JSON.stringify(parts);
    .container.posRel
        ////id
        ////action_id
        ////title
        ////part_title
        //result_type_id
        //judgement_finish_datetime
        //status_id
        ////main_video_url
        //start_date
        //end_date
        //created
        //published
        //deleted
        ////desc_complex
        ////note
        ////desc_move_std
        ////desc_scoring
        ////desc_inventory
        ////desc_video_std

        if(isNew)
            h2 Создание мероприятия
        else
            h2 Редактирование мероприятия
        hr
        div(role='tabpanel')
            ul.nav.nav-tabs(role='tablist')
                li.active(role='edit-event')
                    a(href='#event-header', aria-controls='event-header', role='tab', data-toggle='tab') Общая информация
                li(role='edit-event')
                    a(href='#event-parts', aria-controls='event-parts', role='tab', data-toggle='tab') Этапы мероприятия
            .tab-content
                #event-header.tab-pane.active(role='tabpanel')
                    form.marTop22
                        .row
                            .col-md-4
                                if(!isNew)
                                    | #{event.date_start}
                            .col-md-4
                                if(!isNew)
                                    | #{event.date_end}
                        .row
                            .col-md-4
                                .form-group
                                    label Наименование:
                                    if(isNew)
                                        input.fc-event-field.form-control(type='text', value="", data-name="title")
                                    else
                                        input.fc-event-field.form-control(type='text', value="#{event.title}", data-name="title")
                            .col-md-4
                                .form-group
                                    if(isNew)
                                        label Тип оплаты:
                                        input.select2.fc-event-field.form-control(type="hidden", data-name="payment_type_id", value="#{event.payment_type_id}")
                                    else
                                        label Тип оплаты: #{event.payment_type_id}
                                        input.select2.fc-event-field.form-control(type="hidden", data-name="payment_type_id", data-value="#{event.payment_type_id}")
                            .col-md-4
                                .form-group
                                    label Сумма оплаты:
                                    .input-group
                                        if(isNew)
                                            input.fc-event-field.form-control(type='number', value="", data-name="cost")
                                        else
                                            input.fc-event-field.form-control(type='number', value="#{event.cost}", data-name="cost")
                                        .input-group-addon
                                            i.fa.fa-ruble
                            .col-md-10
                                .form-group
                                    label Описание 1:
                                    textarea.fc-event-field.form-control.cf_text_editor(data-name="description1")
                                        if(!isNew)
                                            | #{event.description1}
                                .form-group
                                    label Описание 2:
                                    textarea.fc-event-field.form-control.cf_text_editor(data-name="description2")
                                        if(!isNew)
                                            | #{event.description2}
                            .col-md-2
                                .row
                                    .col-md-12
                                        h5
                                            b Призовые места
                                        hr
                                        .form-group
                                            label 1-е Место:
                                            input.form-control(type='text')
                                        .form-group
                                            label 2-е Место:
                                            input.form-control(type='text')
                                        .form-group
                                            label 3-е Место:
                                            input.form-control(type='text')
                                        .form-group
                                            label 4-е Место:
                                            input.form-control(type='text')
                                        .form-group
                                            label 5-е Место:
                                            input.form-control(type='text')
                            .col-md-12
                                .form-group
                                    label Правила:
                                    if(isNew)
                                        input.fc-event-field.form-control(type='file', data-name="rules_url")
                                    else
                                        input.fc-event-field.form-control(value="#{event.rules_url}", type='file', data-name="rules_url")
                        .row.posRel
                            .saveEventButton.sBtn.flRight.green
                                .fa.fa-save &nbsp;&nbsp;
                                | Сохранить
                #event-parts.tab-pane(role='tabpanel')
                    #edit-event-parts-wrapper
                        .row
                            .col-md-12
                                #add-event-part.sBtn.flRight.green.small
                                    i.fa.fa-plus
                                    |   Добавть этап


                        div(role='tabpanel')
                            ul#edit-event-part-tab-nav-wrapper.nav.nav-tabs(role='tablist')
                                if(!isNew)
                                    if(!parts.length)
                                        li(role='edit-event-part', class='active')
                                            a(href='#part_#{parts.id}', aria-controls='part_#{parts.id}', role='tab', data-toggle='tab') #{parts.title}
                                    else
                                        each part, idx in parts
                                            - var activeClass = (idx == 0)? 'active': '';
                                            li(role='edit-event-part', class='#{activeClass}')
                                                a(href='#part_#{part.id}', aria-controls='part_#{part.id}', role='tab', data-toggle='tab') #{part.title}
                            #edit-event-part-tab-content-wrapper.tab-content
                                if(!isNew)
                                    if(!parts.length)
                                        div.active.tab-pane(role="tabpanel", id="part_#{parts.id}")
                                            .e-event-part-wrapper.marTop22
                                                form
                                                    .fn-train-overflow
                                                        .fn-train
                                                            .fn-vagon
                                                                .row
                                                                    .col-md-12
                                                                        .sBtn.small.red.flRight.remove-event-part.marRight3
                                                                            i.fa.fa-trash-o
                                                                            |   Удалить
                                                                        .sBtn.small.green.flRight.save-edit-event-part.marRight3(data-action_id="#{event.id}", data-id="#{parts.id}")
                                                                            i.fa.fa-save
                                                                            |   Сохранить
                                                                        .sBtn.small.blue.flRight.marRight3
                                                                            a(href='requests.html?event_id=2&part_id=3')
                                                                                i.fa.fa-video-camera
                                                                                |   К заявкам
                                                                                span.badge 73
                                                                        .sBtn.small.blue.flRight.marRight3.to_results
                                                                            i.fa.fa-list-ul
                                                                            |   К результатам
                                                                hr
                                                                .row
                                                                    .form-group.col-md-4
                                                                        label Наименование:
                                                                        input.fc-event-part-field.form-control.fc_control(data-name='title', type='text', value='#{parts.title}')
                                                                    .form-group.col-md-4
                                                                        label Формат подачи результата: #{parts.result_type_id}
                                                                        input.fc-event-part-field.select2.form-control.fc_control(value='#{parts.result_type_id}', data-name='result_type_id', type="hidden")
                                                                    .form-group.col-md-4
                                                                        label Дата начала:
                                                                        input.fc-event-part-field.form-control.fc_datepicker.fc_control(type='text', value='#{parts.start_date}', data-name='start_date')
                                                                    .form-group.col-md-4
                                                                        label Дата окончания:
                                                                        input.fc-event-part-field.form-control.fc_datepicker.fc_control(type='text', value='#{parts.end_date}', data-name='end_date')
                                                                    .form-group.col-md-4
                                                                        label Статус: #{parts.status_id}
                                                                        input.fc-event-part-field.select2.form-control.fc_control(data-value='#{parts.status_id}', data-name='status_id', type="hidden")
                                                                .row
                                                                    .form-group.col-md-6
                                                                        label Комплекс:
                                                                        textarea.fc-event-part-field.form-control.cf_text_editor.fc_control(value='#{parts.desc_complex}', data-editor='html', data-name='desc_complex')
                                                                    .form-group.col-md-6
                                                                        label Примечание:
                                                                        textarea.fc-event-part-field.form-control.cf_text_editor.fc_control(value='#{parts.note}', data-editor='html', data-name='note')
                                                                .row
                                                                    .form-group.col-md-6
                                                                        label Стандарты движений:
                                                                        textarea.fc-event-part-field.form-control.cf_text_editor.fc_control(value='#{parts.desc_move_std}', data-editor='html', data-name='desc_move_std')
                                                                    .form-group.col-md-6
                                                                        label Подсчет очков:
                                                                        textarea.fc-event-part-field.form-control.cf_text_editor.fc_control(value='#{parts.desc_scoring}', data-editor='html', data-name='desc_scoring')
                                                                .row
                                                                    .form-group.col-md-6
                                                                        label Оборудование:
                                                                        textarea.fc-event-part-field.form-control.cf_text_editor.fc_control(value='#{parts.desc_inventory}', data-editor='html', data-name='desc_inventory')
                                                                    .form-group.col-md-6
                                                                        label Стандарты видеосъемки:
                                                                        textarea.fc-event-part-field.form-control.cf_text_editor.fc_control(value='#{parts.desc_video_std}', data-editor='html', data-name='desc_video_std')


                                                            .fn-vagon
                                                                h3 Проверенные заявки
                                                                table.table
                                                                    thead
                                                                        tr
                                                                            th Атлет
                                                                            th Реультат
                                                                            th Судья
                                                                    tbody
                                                                        tr
                                                                            td
                                                                                a(href='user.html') Атлет 1
                                                                            td 5 (4 (11:27))
                                                                            td
                                                                                a(href='judge.html') Судья 1
                                                                        tr
                                                                            td
                                                                                a(href='user.html') Атлет 1
                                                                            td 5 (4 (11:27))
                                                                            td
                                                                                a(href='judge.html') Судья 1
                                                                        tr
                                                                            td
                                                                                a(href='user.html') Атлет 1
                                                                            td 5 (4 (11:27))
                                                                            td
                                                                                a(href='judge.html') Судья 1
                                                                .sBtn.small.blue.flRight.marRight3.back_results
                                                                    i.fa.fa-reply
                                                                    |   Назад
                                    else
                                        each part, idx in parts
                                            - var activeClass = (idx == 0)? 'active': '';
                                            div(role="tabpanel", id="part_#{part.id}", class="tab-pane #{activeClass}")
                                                .e-event-part-wrapper.marTop22
                                                    form
                                                        .fn-train-overflow
                                                            .fn-train
                                                                .fn-vagon
                                                                    .row
                                                                        .col-md-12
                                                                            .sBtn.small.red.flRight.remove-event-part.marRight3
                                                                                i.fa.fa-trash-o
                                                                                |   Удалить
                                                                            .sBtn.small.green.flRight.save-edit-event-part.marRight3(data-action_id="#{event.id}", data-id="#{part.id}")
                                                                                i.fa.fa-save
                                                                                |   Сохранить
                                                                            .sBtn.small.blue.flRight.marRight3
                                                                                a(href='requests.html?event_id=2&part_id=3')
                                                                                    i.fa.fa-video-camera
                                                                                    |   К заявкам
                                                                                    span.badge 73
                                                                            .sBtn.small.blue.flRight.marRight3.to_results
                                                                                i.fa.fa-list-ul
                                                                                |   К результатам
                                                                    hr
                                                                    .row
                                                                        .form-group.col-md-4
                                                                            label Наименование:
                                                                            input.fc-event-part-field.form-control.fc_control(data-name='title', type='text', value='#{part.title}')
                                                                        .form-group.col-md-4
                                                                            label Формат подачи результата: #{part.result_type_id}
                                                                            input.fc-event-part-field.select2.form-control.fc_control(value='#{part.result_type_id}', data-name='result_type_id', type="hidden")
                                                                        .form-group.col-md-4
                                                                            label Дата начала:
                                                                            input.fc-event-part-field.form-control.fc_datepicker.fc_control(type='text', value='#{part.start_date}', data-name='start_date')
                                                                        .form-group.col-md-4
                                                                            label Дата окончания:
                                                                            input.fc-event-part-field.form-control.fc_datepicker.fc_control(type='text', value='#{part.end_date}', data-name='end_date')
                                                                        .form-group.col-md-4
                                                                            label Статус: #{part.status_id}
                                                                            input.fc-event-part-field.select2.form-control.fc_control(data-value='#{part.status_id}', data-name='status_id', type="hidden")
                                                                    .row
                                                                        .form-group.col-md-6
                                                                            label Комплекс:
                                                                            textarea.fc-event-part-field.form-control.cf_text_editor.fc_control(value='#{part.desc_complex}', data-editor='html', data-name='desc_complex')
                                                                        .form-group.col-md-6
                                                                            label Примечание:
                                                                            textarea.fc-event-part-field.form-control.cf_text_editor.fc_control(value='#{part.note}', data-editor='html', data-name='note')
                                                                    .row
                                                                        .form-group.col-md-6
                                                                            label Стандарты движений:
                                                                            textarea.fc-event-part-field.form-control.cf_text_editor.fc_control(value='#{part.desc_move_std}', data-editor='html', data-name='desc_move_std')
                                                                        .form-group.col-md-6
                                                                            label Подсчет очков:
                                                                            textarea.fc-event-part-field.form-control.cf_text_editor.fc_control(value='#{part.desc_scoring}', data-editor='html', data-name='desc_scoring')
                                                                    .row
                                                                        .form-group.col-md-6
                                                                            label Оборудование:
                                                                            textarea.fc-event-part-field.form-control.cf_text_editor.fc_control(value='#{part.desc_inventory}', data-editor='html', data-name='desc_inventory')
                                                                        .form-group.col-md-6
                                                                            label Стандарты видеосъемки:
                                                                            textarea.fc-event-part-field.form-control.cf_text_editor.fc_control(value='#{part.desc_video_std}', data-editor='html', data-name='desc_video_std')


                                                                .fn-vagon
                                                                    h3 Проверенные заявки
                                                                    table.table
                                                                        thead
                                                                            tr
                                                                                th Атлет
                                                                                th Реультат
                                                                                th Судья
                                                                        tbody
                                                                            tr
                                                                                td
                                                                                    a(href='user.html') Атлет 1
                                                                                td 5 (4 (11:27))
                                                                                td
                                                                                    a(href='judge.html') Судья 1
                                                                            tr
                                                                                td
                                                                                    a(href='user.html') Атлет 1
                                                                                td 5 (4 (11:27))
                                                                                td
                                                                                    a(href='judge.html') Судья 1
                                                                            tr
                                                                                td
                                                                                    a(href='user.html') Атлет 1
                                                                                td 5 (4 (11:27))
                                                                                td
                                                                                    a(href='judge.html') Судья 1
                                                                    .sBtn.small.blue.flRight.marRight3.back_results
                                                                        i.fa.fa-reply
                                                                        |   Назад


