extends admin_layout
block content
   .container.posRel
      h2 Заявка
      hr
      | #{a.video_url}
      br
      | #{a.concat_result}
      br
      | #{a.user_firstname} #{a.user_lastname}
      br
      | #{a.action} #{a.part}
