extends layout
block content
    - var article = data.data[0];
    .page-content
        .container.marBot30.noPad
            h3.fullDarkHeader
                span.fullDarkHeader-inner
                    | #{article.title}
            .row
                .col-md-4
                    .article-image-wrapper
                        img(src="upload/#{article.photo}")
                    .article-other-info
                        h4 Автор:
                        div #{article.author}
                        h4 Переводчик:
                        div #{article.translator}
                        h4 Оригинал:
                        a(href="#{article.original_url}") #{article.original_url}
                        h4 Лицензия:
                        div #{article.license}
                .col-md-8
                    | !{article.body}

