extends layout
block content
    - var parts = (data.parts.data.length)? data.parts.data: [data.parts.data];
    - var event = data.actions.data[0];
    - var rewards = data.rewards.data[0];

    .adv-block-wrapper.big-content-wrapper
        .event-main-image-wrapper
            img(src="upload/#{event.image}")
        //.event_bg.h350(style="background-image: url(upload/#{event.image})")
    h2.event-main-header
        .container.posRel
            | #{event.title}
            .event-main-date #{event.date_start_text}
    .container
        .row.padTop30
            .col-md-12
                !{event.description1}
        hr
        div(role='tabpanel')
            ul.nav.nav-tabs(role='tablist')
                each part, idx in parts
                    - var activeClass = (idx == 0)? 'active': '';
                    li(role='presentation', class="#{activeClass}")
                        a(href='#part_#{part.id}', aria-controls='part_#{part.id}', role='tab', data-toggle='tab', aria-expanded='true') #{part.title}
            .tab-content
                each part, idx in parts
                    - var activeClass = (idx == 0)? 'active': '';
                    div(role='tabpanel', class="tab-pane #{activeClass}", id="part_#{part.id}")
                        .row
                            .col-md-8
                                h3
                                    | #{part.title}
                                    .event-part-date
                                        i.fa.fa-calendar
                                        |  #{part.start_date} - #{part.end_date}
                            .col-md-4
                                .sBtn.flRight.red.order-event-part(data-event='#{event.title}', data-event_id='#{event.id}', data-event_part='#{part.title}', data-event_part_id='#{part.id}')
                                    i.fa.fa-paper-plane-o
                                    |   Подать заявку
                                    .modal-order-content
                                        form.form-horizontal
                                            .row
                                                .col-md-12
                                                    .col-md-6
                                                        .form-group.col-md-12
                                                            | #{event.title}
                                                    .col-md-6
                                                        .form-group.col-md-12
                                                            | #{part.title}
                                            .row.order-event-part-result-row
                                                .col-md-12
                                                    .form-group.col-md-12
                                                        label Видео:
                                                        .input-group
                                                            .input-group-addon
                                                                i.fa.fa-video-camera
                                                            input.form-control(type="text", data-id="video")
                                                    .form-group.col-md-12
                                                        if(part.result_type_sys == 'TIME')

                                                            input.form-control.time-mm.maskTime(type="text", placeholder="мм:cc")

                                                        else if(part.result_type_sys == 'REPEAT')

                                                            input.form-control(type="number", data-editor_id="")

                                                        else if(part.result_type_sys == 'TIE_BREAK')

                                                            .input-group
                                                                input.form-control.tieBreak1(type='text')
                                                                .input-group-addon (
                                                                input.form-control.tieBreak2(type='text')
                                                                .input-group-addon (
                                                                input.form-control.tieBreak3(type='text')
                                                                .input-group-addon :
                                                                input.form-control.tieBreak4(type='text')
                                                                .input-group-addon ))

                                                        else if(part.result_type_sys == 'SHORT_TIE_BREAK')

                                                            .input-group
                                                                input.form-control.tieBreak1(type='text')
                                                                .input-group-addon (
                                                                input.form-control.tieBreak3(type='text')
                                                                .input-group-addon :
                                                                input.form-control.tieBreak4(type='text')
                                                                .input-group-addon )

                        .innerTabParent(role='tabpanel')
                            ul.nav.nav-tabs(role='tablist')
                                li.active(role='presentation')
                                    a(href='#rules_#{part.id}', aria-controls='rules_#{part.id}', role='tab', data-toggle='tab', aria-expanded='true') Правила
                                li(role='presentation')
                                    a(href='#results_#{part.id}', aria-controls='results_#{part.id}', role='tab', data-toggle='tab', aria-expanded='false') Предварительные результаты
                            .tab-content
                                .tab-pane.active(role='tabpanel', id="rules_#{part.id}")
                                    .row.padTop30
                                        .col-md-12
                                            .col-md-6
                                                h4.darkHd Комплекс
                                                !{part.desc_complex}
                                                hr
                                                h4.darkHd Примечание
                                                !{part.note}
                                                hr
                                                h4.darkHd Подсчет очков
                                                !{part.desc_scoring}
                                                hr
                                                h4.darkHd Оборудование
                                                !{part.desc_inventory}
                                                hr
                                                h4.darkHd Стандарты видеосъкемки
                                                !{part.desc_video_std}

                                            .col-md-6
                                                h4.darkHd Стандарты движений
                                                !{part.desc_move_std}

                                .tab-pane(role='tabpanel', id="results_#{part.id}")
                                    .row.padTop30
                                        .col-md-12
                                            .col-md-3
                                                .form-group
                                                    label Страна:
                                                    #s2id_autogen1.select2-container.form-control
                                                        a.select2-choice(href='javascript:void(0)', tabindex='-1')
                                                            span#select2-chosen-2.select2-chosen Россия
                                                            abbr.select2-search-choice-close
                                                            span.select2-arrow(role='presentation')
                                                                b(role='presentation')
                                                        label.select2-offscreen(for='s2id_autogen2')
                                                        input#s2id_autogen2.select2-focusser.select2-offscreen(type='text', aria-haspopup='true', role='button', aria-labelledby='select2-chosen-2')
                                                        .select2-drop.select2-display-none.select2-with-searchbox
                                                            .select2-search
                                                                label.select2-offscreen(for='s2id_autogen2_search')
                                                                input#s2id_autogen2_search.select2-input(type='text', autocomplete='off', autocorrect='off', autocapitalize='off', spellcheck='false', role='combobox', aria-expanded='true', aria-autocomplete='list', aria-owns='select2-results-2', placeholder='')
                                                            ul#select2-results-2.select2-results(role='listbox')
                                                    select.form-control(tabindex='-1', title='', style='display: none;')
                                                        option(value='1') Россия
                                                        option(value='1') Украина
                                                        option(value='1') Белоруссия
                                            .col-md-3
                                                .form-group
                                                    label Город:
                                                    #s2id_autogen3.select2-container.form-control
                                                        a.select2-choice(href='javascript:void(0)', tabindex='-1')
                                                            span#select2-chosen-4.select2-chosen Москва
                                                            abbr.select2-search-choice-close
                                                            span.select2-arrow(role='presentation')
                                                                b(role='presentation')
                                                        label.select2-offscreen(for='s2id_autogen4')
                                                        input#s2id_autogen4.select2-focusser.select2-offscreen(type='text', aria-haspopup='true', role='button', aria-labelledby='select2-chosen-4')
                                                        .select2-drop.select2-display-none.select2-with-searchbox
                                                            .select2-search
                                                                label.select2-offscreen(for='s2id_autogen4_search')
                                                                input#s2id_autogen4_search.select2-input(type='text', autocomplete='off', autocorrect='off', autocapitalize='off', spellcheck='false', role='combobox', aria-expanded='true', aria-autocomplete='list', aria-owns='select2-results-4', placeholder='')
                                                            ul#select2-results-4.select2-results(role='listbox')
                                                    select.form-control(tabindex='-1', title='', style='display: none;')
                                                        option(value='1') Москва
                                                        option(value='1') Санкт-Петербург
                                                        option(value='1') Тверь
                                            .col-md-3
                                                .form-group
                                                    label Клуб:
                                                    #s2id_autogen5.select2-container.form-control
                                                        a.select2-choice(href='javascript:void(0)', tabindex='-1')
                                                            span#select2-chosen-6.select2-chosen Crossfit central
                                                            abbr.select2-search-choice-close
                                                            span.select2-arrow(role='presentation')
                                                                b(role='presentation')
                                                        label.select2-offscreen(for='s2id_autogen6')
                                                        input#s2id_autogen6.select2-focusser.select2-offscreen(type='text', aria-haspopup='true', role='button', aria-labelledby='select2-chosen-6')
                                                        .select2-drop.select2-display-none.select2-with-searchbox
                                                            .select2-search
                                                                label.select2-offscreen(for='s2id_autogen6_search')
                                                                input#s2id_autogen6_search.select2-input(type='text', autocomplete='off', autocorrect='off', autocapitalize='off', spellcheck='false', role='combobox', aria-expanded='true', aria-autocomplete='list', aria-owns='select2-results-6', placeholder='')
                                                            ul#select2-results-6.select2-results(role='listbox')
                                                    select.form-control(tabindex='-1', title='', style='display: none;')
                                                        option(value='1') Crossfit central
                                                        option(value='1') sport unlimited
                                                        option(value='1') xFit
                                            .col-md-3
                                                .form-group
                                                    label Пол:
                                                    #s2id_autogen7.select2-container.form-control
                                                        a.select2-choice(href='javascript:void(0)', tabindex='-1')
                                                            span#select2-chosen-8.select2-chosen Мужской
                                                            abbr.select2-search-choice-close
                                                            span.select2-arrow(role='presentation')
                                                                b(role='presentation')
                                                        label.select2-offscreen(for='s2id_autogen8')
                                                        input#s2id_autogen8.select2-focusser.select2-offscreen(type='text', aria-haspopup='true', role='button', aria-labelledby='select2-chosen-8')
                                                        .select2-drop.select2-display-none.select2-with-searchbox
                                                            .select2-search
                                                                label.select2-offscreen(for='s2id_autogen8_search')
                                                                input#s2id_autogen8_search.select2-input(type='text', autocomplete='off', autocorrect='off', autocapitalize='off', spellcheck='false', role='combobox', aria-expanded='true', aria-autocomplete='list', aria-owns='select2-results-8', placeholder='')
                                                            ul#select2-results-8.select2-results(role='listbox')
                                                    select.form-control(tabindex='-1', title='', style='display: none;')
                                                        option(value='1') Мужской
                                                        option(value='1') Женский
                                    .row.padTop30
                                        .col-md-12
                                            table.table
                                                thead
                                                    tr
                                                        th Место
                                                        th Атлет
                                                        th Результат
                                                        th Видео
                                                tbody
                                                    tr.warning
                                                        th(scope='row')
                                                            span.badge 1
                                                        td Андрей Ганин
                                                        td 5 (246(6:48))
                                                        td
                                                            a(href='watch.html')
                                                                i.fa.fa-video-camera
                                                    tr.success
                                                        th(scope='row')
                                                            span.badge 2
                                                        td Юрий Казаков
                                                        td 3 (266(5:57))
                                                        td
                                                            a(href='watch.html')
                                                                i.fa.fa-video-camera
                                                    tr.info
                                                        th(scope='row')
                                                            span.badge 3
                                                        td Владимир Сайдашев
                                                        td 2 (268(5:49))
                                                        td
                                                            a(href='watch.html')
                                                                i.fa.fa-video-camera
                                                    tr
                                                        th(scope='row') 4
                                                        td Ярощук Александр
                                                        td 14 (240(5:45))
                                                        td
                                                            a(href='watch.html')
                                                                i.fa.fa-video-camera
                                                    tr
                                                        th(scope='row') 5
                                                        td Виталий Виткин
                                                        td 22 (220(6:41))
                                                        td
                                                            a(href='watch.html')
                                                                i.fa.fa-video-camera
                                                    tr
                                                        th(scope='row') 6
                                                        td Алексей Царюк
                                                        td 22 (220(6:41))
                                                        td
                                                            a(href='watch.html')
                                                                i.fa.fa-video-camera
                                                    tr
                                                        th(scope='row') 7
                                                        td Ярощук Александр
                                                        td 14 (240(5:45))
                                                        td
                                                            a(href='watch.html')
                                                                i.fa.fa-video-camera
                                                    tr
                                                        th(scope='row') 8
                                                        td Виталий Виткин
                                                        td 22 (220(6:41))
                                                        td
                                                            a(href='watch.html')
                                                                i.fa.fa-video-camera
                                                    tr
                                                        th(scope='row') 9
                                                        td Алексей Царюк
                                                        td 22 (220(6:41))
                                                        td
                                                            a(href='watch.html')
                                                                i.fa.fa-video-camera
                                                    tr
                                                        th(scope='row') 10
                                                        td Ярощук Александр
                                                        td 14 (240(5:45))
                                                        td
                                                            a(href='watch.html')
                                                                i.fa.fa-video-camera
                                                    tr
                                                        th(scope='row') 11
                                                        td Виталий Виткин
                                                        td 22 (220(6:41))
                                                        td
                                                            a(href='watch.html')
                                                                i.fa.fa-video-camera
                                                    tr
                                                        th(scope='row') 12
                                                        td Алексей Царюк
                                                        td 22 (220(6:41))
                                                        td
                                                            a(href='watch.html')
                                                                i.fa.fa-video-camera
                                                    tr
                                                        th(scope='row') 13
                                                        td Ярощук Александр
                                                        td 14 (240(5:45))
                                                        td
                                                            a(href='watch.html')
                                                                i.fa.fa-video-camera
                                                    tr
                                                        th(scope='row') 14
                                                        td Виталий Виткин
                                                        td 22 (220(6:41))
                                                        td
                                                            a(href='watch.html')
                                                                i.fa.fa-video-camera
                                                    tr
                                                        th(scope='row') 15
                                                        td Алексей Царюк
                                                        td 22 (220(6:41))
                                                        td
                                                            a(href='watch.html')
                                                                i.fa.fa-video-camera
                                            nav
                                                ul.pagination
                                                    li
                                                        a(href='#', aria-label='Previous')
                                                            span(aria-hidden='true') «
                                                    li
                                                        a(href='#') 1
                                                    li
                                                        a(href='#') 2
                                                    li
                                                        a(href='#') 3
                                                    li
                                                        a(href='#') 4
                                                    li
                                                        a(href='#') 5
                                                    li
                                                        a(href='#', aria-label='Next')
                                                            span(aria-hidden='true') »
