extends layout
block content
    .container
        h2 Мероприятия
            hr
            //.row
            //    .col-md-4
            //        .form-group
            //            label Название мероприятия
            //            input.form-control.search-event(type='text', placeholder='Введите название')
            //    .col-md-6
            //        .form-group
            //            label Диапазон дат
            //            .input-group
            //                .input-group-addon С
            //                input.cf_datepicker.event-from-date.form-control(type='text', placeholder='')
            //                .input-group-addon По
            //                input.cf_datepicker.event-to-date.form-control(type='text', placeholder='')
            .row
                .col-md-12
                    .events-list-wrapper
                        ul.events-list
                            for a in items.data
                                li
                                    a.event-item-img(href="event?id=#{a.id}")
                                        img(src='upload/#{a.thumb}')
                                    .event-item-info
                                        .event-item-title
                                            .titleInner
                                                a(href='event?id=#{a.id}') #{a.title}
                                                .action-status(class="#{a.status_sys_name}")
                                                    | #{a.status}
                                            .dateInner #{a.date_start_text}
                                        .event-item-desc
                                            !{a.description2}
                            else
                                li Нет мероприятий.