extends layout
block content
    .page-content
        .container
            h2
                |#{user.firstname}
                |#{user.surname}
                span.grey
                    |  (#{user.email})
            hr
            .row
                .col-md-12
                    form#form-profile(name="form-profile")
                        .col-md-4
                            .user-photo
                                - var photo = (!user.photo || user.photo == '' || user.photo == 'null')? (user.gender_id == 1)? 'img/user_default_m.jpg' : 'img/user_default_f.jpg' : 'upload/'+user.photo;
                                img(src="#{photo}")
                        .col-md-6
                            table.table
                                tbody
                                    tr
                                        td
                                            | Имя
                                        td
                                            | #{user.firstname}
                                    tr
                                        td
                                            | Фамилия
                                        td
                                            | #{user.surname}
                                    tr
                                        td
                                            | Почта
                                        td
                                            | #{user.email}
                                    tr
                                        td
                                            | Телефон
                                        td
                                            | #{user.phone}
                                    tr
                                        td
                                            | Пол
                                        td
                                            | #{user.gender}
                                    tr
                                        td
                                            | Возраст
                                        td
                                            | #{user.age}
                                    tr
                                        td
                                            | Город
                                        td
                                            | #{user.city}
            .row
                .col-md-10
                    .col-md-12
                        .sBtn.flRight.green.save_profile
                            a(href="edit_profile?id=#{user.id}")
                                .fa.fa-edit
                                | &nbsp;&nbsp;Редактировать
