extends layout
block content
    .container
        h2 Водовики
            hr
            .row
                .col-md-12.wows-list-wrapper
                    for a in items.data
                        .col-md-3
                            .wow-item-inner
                                a.wow-item-img(href="wow?id=#{a.id}")
                                    img(src='upload/#{a.thumb}')
                                .wow-item-info
                                    .wow-item-title
                                        .titleInner
                                            a(href='wow?id=#{a.id}') #{a.title}
                                        .wow-item-desc
                                            !{a.description2}
                                .wow-item-bottom
                                    .action-status(class="#{a.status_sys_name}")
                                        | #{a.status}
                                    .dateInner #{a.date_start_text}
                    else
                        li Нет водовиков.
